*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    border: 1px solid black;
}


.container{
    background-color: lightblue;
    max-width: 100%;
    height: 81px;

}

.contenitore{
    max-width: 1165px;
    height: 34px;
    background-color: yellow;
    display: flex;
}

.logo{
    width: 25%;
    
}

.link{
    width: 50%;
    text-align: center;
    
}

ul {
    list-style-type: none;
    }

.login{
    width: 25%;
   text-align: right;

}


.prima-sezione{
    max-width:1906px;
    height: 494px;
    background-color: violet;
}

.sezione-rettangolo{
    max-width: 901px;
    height: 387px;
    background-color: pink;
}

.seconda-sezione{
   width: 100%;
   padding: 40px 0;

}

.padre{
    max-width: 1200px;
    display: flex;
}

.sezione-sessanta{
    width: 60%;
    height: 500px;
    background-color: aqua;
}


.sezione-quaranta{
    width: 40%;
    height: 500px;
    background-color: pink;
}

.terza-sezione{
    width: 100%;
   padding: 40px 0;
   background-color: lightgrey;
   display: row-reverse;********
}




.quarta-sezione{
    width: 100%;
    background-color: gray;


}

.quadrato-100{
    width: 1200px;
    height: 868px;
    background-color: green;
}




.ultima-sezione{
    width: 100%;
    background-color: grey;
    
}


.quad-col{
    max-width:1200px;
    height: 553px;
    display: flex;
}


.colonna-doppia{
    width: 30%;
    height: 536px;
    background-color: pink;
    border: 1px solid black;
}

.colonna-singola{
    width: 17.5%;
    height: 536px;
    background-color: yellowgreen;
    border: 1px solid black;
}


.footer{
    width: 100%;
    height: 89px;
    background-color: grey;
}

.foot{
    width: 1200px;
    height: 58px;
    background-color: greenyellow;
}

#log{
    text-align: start;
}

#bott{
    text-align: end;
}

.white{
    color: white;
}